USE [master]
GO
/****** Object:  Database [Firma]    Script Date: 5/14/2024 6:38:49 PM ******/
CREATE DATABASE [Firma]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Firma', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Firma.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Firma_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Firma_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Firma].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Firma]
GO
/****** Object:  Table [dbo].[Adres]    Script Date: 5/14/2024 6:38:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adres](
	[Id] [int] IDENTITY(1,100) NOT NULL,
	[Ulica] [nvarchar](50) NULL,
	[Miejscowosc] [nvarchar](50) NOT NULL,
	[KodPocztowy] [char](10) NULL,
	[KrajKod] [char](2) NOT NULL,
 CONSTRAINT [PK_Adres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dzial]    Script Date: 5/14/2024 6:38:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dzial](
	[Kod] [char](3) NOT NULL,
	[Nazwa] [nvarchar](50) NOT NULL,
 CONSTRAINT [Dzial_pk] PRIMARY KEY CLUSTERED 
(
	[Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kraj]    Script Date: 5/14/2024 6:38:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kraj](
	[Kod] [char](2) NOT NULL,
	[Nazwa] [nvarchar](50) NOT NULL,
 CONSTRAINT [Kraj_pk] PRIMARY KEY CLUSTERED 
(
	[Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oddzial]    Script Date: 5/14/2024 6:38:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oddzial](
	[Id] [int] IDENTITY(1,10) NOT NULL,
	[Nazwa] [nvarchar](50) NOT NULL,
	[AdresId] [int] NOT NULL,
 CONSTRAINT [PK_Oddzial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pracownik]    Script Date: 5/14/2024 6:38:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pracownik](
	[Imie] [nvarchar](50) NULL,
	[Nazwisko] [nvarchar](50) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KierownikId] [int] NULL,
	[DzialKod] [char](3) NULL,
	[OddzialId] [int] NULL,
	[AdresId] [int] NULL,
	[SamochodId] [int] NULL,
 CONSTRAINT [PK_Osoba] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projekt]    Script Date: 5/14/2024 6:38:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projekt](
	[Kod] [char](5) NOT NULL,
	[Nazwa] [nvarchar](50) NOT NULL,
	[DataRoz] [datetime] NOT NULL,
	[DataZak] [datetime] NULL,
 CONSTRAINT [PK_Projekt] PRIMARY KEY CLUSTERED 
(
	[Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projekt_Pracownik]    Script Date: 5/14/2024 6:38:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projekt_Pracownik](
	[ProjektKod] [char](5) NOT NULL,
	[PracownikId] [int] NOT NULL,
 CONSTRAINT [PK_Projekt_Pracownik] PRIMARY KEY CLUSTERED 
(
	[ProjektKod] ASC,
	[PracownikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Samochod]    Script Date: 5/14/2024 6:38:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Samochod](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Marka] [nvarchar](20) NOT NULL,
	[Model] [nvarchar](30) NULL,
	[NrRejestr] [char](10) NOT NULL,
	[PracownikId] [int] NULL,
 CONSTRAINT [PK_Samochod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SamochodId]    Script Date: 5/14/2024 6:38:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_SamochodId] ON [dbo].[Pracownik]
(
	[SamochodId] ASC
)
WHERE ([SamochodId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PracownikId]    Script Date: 5/14/2024 6:38:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_PracownikId] ON [dbo].[Samochod]
(
	[PracownikId] ASC
)
WHERE ([PracownikId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adres]  WITH CHECK ADD  CONSTRAINT [Adres_Kraj_Kod_fk] FOREIGN KEY([KrajKod])
REFERENCES [dbo].[Kraj] ([Kod])
GO
ALTER TABLE [dbo].[Adres] CHECK CONSTRAINT [Adres_Kraj_Kod_fk]
GO
ALTER TABLE [dbo].[Oddzial]  WITH CHECK ADD  CONSTRAINT [Oddzial_Adres_Id_fk] FOREIGN KEY([AdresId])
REFERENCES [dbo].[Adres] ([Id])
GO
ALTER TABLE [dbo].[Oddzial] CHECK CONSTRAINT [Oddzial_Adres_Id_fk]
GO
ALTER TABLE [dbo].[Pracownik]  WITH CHECK ADD  CONSTRAINT [Pracownik_Adres_Id_fk] FOREIGN KEY([AdresId])
REFERENCES [dbo].[Adres] ([Id])
GO
ALTER TABLE [dbo].[Pracownik] CHECK CONSTRAINT [Pracownik_Adres_Id_fk]
GO
ALTER TABLE [dbo].[Pracownik]  WITH CHECK ADD  CONSTRAINT [Pracownik_Dzial_Kod_fk] FOREIGN KEY([DzialKod])
REFERENCES [dbo].[Dzial] ([Kod])
GO
ALTER TABLE [dbo].[Pracownik] CHECK CONSTRAINT [Pracownik_Dzial_Kod_fk]
GO
ALTER TABLE [dbo].[Pracownik]  WITH CHECK ADD  CONSTRAINT [Pracownik_Oddzial_Id_fk] FOREIGN KEY([OddzialId])
REFERENCES [dbo].[Oddzial] ([Id])
GO
ALTER TABLE [dbo].[Pracownik] CHECK CONSTRAINT [Pracownik_Oddzial_Id_fk]
GO
ALTER TABLE [dbo].[Pracownik]  WITH CHECK ADD  CONSTRAINT [Pracownik_Pracownik_Id_fk] FOREIGN KEY([KierownikId])
REFERENCES [dbo].[Pracownik] ([Id])
GO
ALTER TABLE [dbo].[Pracownik] CHECK CONSTRAINT [Pracownik_Pracownik_Id_fk]
GO
ALTER TABLE [dbo].[Projekt_Pracownik]  WITH CHECK ADD  CONSTRAINT [Projekt_Pracownik_Pracownik_Id_fk] FOREIGN KEY([PracownikId])
REFERENCES [dbo].[Pracownik] ([Id])
GO
ALTER TABLE [dbo].[Projekt_Pracownik] CHECK CONSTRAINT [Projekt_Pracownik_Pracownik_Id_fk]
GO
ALTER TABLE [dbo].[Projekt_Pracownik]  WITH CHECK ADD  CONSTRAINT [Projekt_Pracownik_Projekt_Kod_fk] FOREIGN KEY([ProjektKod])
REFERENCES [dbo].[Projekt] ([Kod])
GO
ALTER TABLE [dbo].[Projekt_Pracownik] CHECK CONSTRAINT [Projekt_Pracownik_Projekt_Kod_fk]
GO
ALTER TABLE [dbo].[Samochod]  WITH CHECK ADD  CONSTRAINT [Samochod_Pracownik_Id_fk] FOREIGN KEY([PracownikId])
REFERENCES [dbo].[Pracownik] ([Id])
GO
ALTER TABLE [dbo].[Samochod] CHECK CONSTRAINT [Samochod_Pracownik_Id_fk]
GO
USE [master]
GO
